@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Sue+Ellen+Francisco&display=swap);

@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
body {
  font-family: "Poppins", sans-serif;
}
.top-bar .menu {
  background-color: #1d3557;
  color: white;
  border-radius: 25px;
  align-items: center;
}

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  margin-bottom: 80px;
  vertical-align: middle;
  background-color: $white;
  border-radius: 15px 50px;
  padding: 3px;
  width: 45%;
  height: auto;
  position: relative;
}

.home-page-body {
  color: $primary-color;
  background-image: url("../home-bg.jpeg");
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 90%;
  min-height: 90%;
  width: 100%;
  height: auto;
}
